.main {
  background: #d3bc9f;
}
.article-contents{
  display: flex;
  padding: 10vh 0;
  flex-direction: column;
}
.article-lists{
  display: flex;
  padding: 10vh 0;
  text-decoration: none;
  flex-wrap: wrap;
}
.list{
  padding: 1vw;
  list-style: none;
}
.article-img{
  width: 32vw;
  height: 33vh;
}
.article-name{
  font-weight: bold;
  font-size: 1.5vw;
  background-color: rgba(127, 255, 144, 0);
  width: 33vw;
  flex-wrap: wrap;
  text-decoration: none;
}